@tailwind base;
@tailwind components;
@tailwind utilities;



input{
    width: 300px;
    height: 40px;
    border-radius: 10px;
    color: #e1dede;
    padding: 5px 10px;
    border: 1px solid #fff;
}



